<body>
    <h1>Welcome to My Web Page</h1>
    <p class="text-hover-red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, erat eget lobortis
        tincidunt, justo lorem varius
        risus, id iaculis velit erat nec nulla. Sed et vehicula dolor. Suspendisse in bibendum libero. Nulla facilisi.
        Etiam
        efficitur auctor dui, eget interdum odio condimentum vel. Vestibulum quis dui ligula. Nullam feugiat dolor non
        libero
        consequat, at vestibulum nisi tempus.</p>
    <button class="btn">Button</button>
    <button class="btn1" (click)="navigateToNext()">Button</button>
</body>
<router-outlet></router-outlet>